<div id="wrapper">
    <div class="form">
        <p style="font-size: 36px; background-color:#93c08e; color: #ffffff;">
            <b>uupS!</b>
        </p>
        <input style="margin-top: 20px" type="text" id="content" placeholder="fucking type something...">
        <div class="button submit" id="save">
            <img src="static/images/check.png" alt="checkmark">
        </div>
        <p>
            <a id="d_clip_button" class="my_clip_button">copy last link</a>&nbsp;
            <a href='#me'><strong>history</strong></a>
        </p>

        <p>
            most read box <a href='#<%= message.get('code') %>'>#<%= message.get('code') %></a>
        </p>

        <p>
            developed by <a href='http://erayarslan.com'>erayarslan</a>
        </p>

        <p>
            <a href='https://twitter.com/eryarslan'>twitter</a>&nbsp;
            <a href='https://facebook.com/eryarslan'>facebook</a>&nbsp;
            <a href='http://erayarslan.com/blog'>blog</a>
        </p>

        <p>
            <a href='#thanks'>thanks</a>&nbsp;
            <a href='http://www.erayarslan.com/blog/notmine-make-your-own-messagebox/'>what i am?</a>
        </p>
    </div>
</div>